.dropmenu {
    position: absolute;
    top: 102px;
    left: 20px;
    border-top: 1px solid rgb(160, 17, 17);
    width: -webkit-fill-available;
    display: flex;
}

.smalldivmenu {
    a {
        font-size: 40px;
        text-decoration: none;
        display: flex;
        padding: 5px 20px;
    }

    ul {
        li {
            list-style: none;


            a {
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}