.dropmenu {
    position: absolute;
    top: 102px;
    left: 20px;
    border-top: 1px solid rgb(160, 17, 17);
    width: -webkit-fill-available;
    display: flex;
}



.footerEnd {
    background-color: rgb(88, 82, 82);
    border: 1px solid red;
}

.containerdrop {
    position: absolute;

    left: 0;
    top: 90px;
    width: -webkit-fill-available;
    height: 400px;
    text-decoration: none;
    border-top: 1px solid red;

    .row {
        .col {
            .box {
                .bigct {
                    font-size: 16px;
                    padding: 10px 30px;

                    a {
                        border: none;
                    }
                }

                .smallct {
                    padding: 0 0;
                    text-align: left;
                    width: 300px;

                    a {
                        border: none;
                    }
                }
            }
        }
    }
}