* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .menu {
        background-color: rgb(88, 82, 82);
    }



    .logo {

        align-items: center;
        position: relative;
        top: 20px;
        left: 117px;


        img {
            width: 145px;
            height: 60px;


        }

    }

    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: rgb(88, 82, 82);
        background-size: cover;
        width: -webkit-fill-available;
    }

    .content li:hover>ul {




        display: block;

    }

    .content>a:hover {
        border-bottom: 1px solid #f8f8f8;


    }

    .content {
        display: flex;
        padding: 20px 120px;
        justify-content: center;



        li {

            list-style: none;
            padding: 20px 20px;


            a {
                text-decoration: none;
                padding: 8px 15px;

                color: white;
                border-bottom: 1px solid rgb(80, 79, 79);

            }



            ul {
                padding: 7px 10px;

                background-color: rgb(17, 17, 17);
                position: absolute;

                top: 80px;
                display: none;
                width: 200px;

                li:hover {
                    ul {
                        display: block;
                    }
                }

                cursor: pointer;

                li {
                    padding: 20px 20px;
                    border-bottom: 1px solid rgb(80, 79, 79);

                    a {
                        padding: 7px 0px;

                        left: 0;


                        ul {
                            position: absolute;
                            display: none;
                            left: 400px;




                            li {


                                a {
                                    text-align: right;
                                    align-items: center;


                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content>li>a:hover {
        color: rgb(198, 93, 124);

    }

    .content>li>ul>li:hover {
        background-color: purple;
        border-bottom: 1px solid red;


        a {}
    }

    // ul.content a {
    //     left: 0;
    // }

    // ul.content ul {
    //     position: absolute;
    //     left: 200px;
    // }
    .tablecontent {
        table {

            position: absolute;
            display: none;

        }
    }
}

body {
    background-image: url(./hutaoimgbackground.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;


}

.img1 {
    img {
        position: relative;
        top: 70px;
        right: 60px;
        width: 90px;
        height: 300px;
        justify-items: center;
    }
}

.imgfooter {
    justify-content: center;
    align-items: center;
}

.buttonthanhcuon {
    position: relative;
    top: 200px;
    justify-content: center;
}
.contanermid{
    
}