.containersuper {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdownmenu {
    display: none;
}

.menudrop {
    li {
        list-style: none;

        a {}
    }

    li:hover {
        .dropdownmenu {
            display: block;
        }
    }
}

.box {
    a {
        font-siz;
    }

    .boxmini {
        font-size: 20px;
    }
}