.table {
    font-size: 60px;

    table {
        width: 500px;
        height: 80px;

        tr {
            width: 60px;
            height: 80px;
        }
    }
}

body {
    background-image: url(//Screenshot\ \(46\).png);
    background-size: cover;
}